<!-- Include navbar,css,icons and javascript from base.html -->
{% extends 'base.html' %}

<!-- Add the form for adding new contacts  -->
{% block content %}
<h3>Add New Contact</h3>
<div class="row">
    <form  action="{{ url_for('insert_contact') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="firstname" name="firstname" type="text" class="validate">
                <label for="icon_prefix">First Name</label>
            </div>
        </div>
        <div class="row">
         <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="lastname" name="lastname" type="text" class="validate">
                <label for="icon_prefix">Last Name</label>
            </div>
        </div>
           
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="phonenumber" name="phonenumber" type="tel" class="validate">
                <label for="icon_telephone">Phonenumber</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="email" class="validate">
                <label for="icon_email">Email</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12" id="matfix">
                <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="date_created" name="date_created" type="text" class="datepicker">
                <label for="icon_prefix">Today</label>
            </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
            
        
    </form>
</div>
{% endblock %}