    {% extends 'base.html' %}
    {% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for contact in contacts %}
        <li>
            <div class="collapsible-header">
                
                <div class="task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{contact.phonenumber}}</strong> 
                </div>
                 <div class="col s3">
                    <a class="waves-effect waves-light btn btn_small red">Update</a>
                    <a class="waves-effect waves-light btn btn_small blue">Delete</a>
                </div>
                
            </div>
            <div class="collapsible-body">
                <p>Firstname : {{contact.firstname}}</p>
                <p>Lastname  : {{contact.lastname}}</p>
                <p> Email     : {{contact.email}}</p>
                <p> Date Created     : {{contact.date_created}}</p>
                   
                   
                   
                   

                
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
