    <!-- Include navbar,css,icons and javascript from base.html -->

    {% extends 'base.html' %}

    <!-- Add collapsible component for showing all contacts-->

    {% block content %}
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for contact in contacts %}
        <li>
            <div class="collapsible-header">
                
                <div class="task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{contact.phonenumber}}</strong> 
                </div>
                 <div class="col s3">
                    <a href="{{url_for('edit_contact', contact_id=contact._id)}}" class="waves-effect waves-light btn btn_small green">Update</a>
                    <a href="{{url_for('delete_contact', contact_id=contact._id)}}" class="waves-effect waves-light btn btn_small red"><i class="material-icons right">delete</i></a>
</a>
                </div>
             </div>
            <div class="collapsible-body">
            <address>
        <p>Names : {{contact.firstname }} {{ contact.lastname  }}</p>
                <p> Email     : {{contact.email}}</p>
                <p> Date Created     : {{contact.date_created}}</p>
            </address>
                
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
